.biu-img-container {
  pointer-events: none;
  z-index:111  
}
.biu-img-item{
  position: absolute;
  left: 100%;
}


.go-img {
  animation: 10s go-img;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes go-img {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-100% - 100vw));        
  }
}